.box {
    width: 20px;
    border: solid green;
    /* padding: 20px; */
    position: absolute;
    margin: 20px;
}
.container {
    width: 100px;
    heigh: 20px;
    padding-left: -20px;
}
.row {
    white-space: nowrap;
    display: inline-block;
}
.circle {
    height: 25px;
    width: 25px;
    /* background-color: red; */
    border-radius: 50%;
    display: inline-block;
}
